* {
  box-sizing: border-box;
}

body {
  background-color: #2980b9;
  margin: 0;
}

.kalkulator {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
}

#display {
  width: 100%;
  min-height: 80px;
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
  font-size: 2.5rem;
  word-wrap: break-word;
  word-break: break-all;
}

.button-wrapper {
  height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.button-wrapper > button {
  font-size: 1.5rem;
}

.span2 {
  grid-column: 1 / span 2;
}

.row2 {
  grid-column: 4 / 5;
  grid-row: 4 / span 2;
}
